#h1{
    font-size: 56px;
    color: lightblue;
    color: darkblue;
    color: light blue;
}

#s1{
    color: #0d9dda;
}

#p1{
    width: 200px;
    color: black;
}

#h2{
    width: 200px;
    color: darkblue;
}

#h3{
    width: 200px;
    color: darkblue;
}

#p2{
    width: 279px;
}

#h4{
    width: 135px;
    color: darkblue;
    
}

#h5{
    width: 200px;
    color: darkblue;
}

#p3{
    width: 200px;
}